#hero {
    background-image: url("../images/mobilKirkeBaggrund.jpg");
    background-repeat: none;
    background-position-x: 36%;
    background-position-y: 22.5%;
}

@media only screen and (min-width: 766px) {
    #hero {
        background-position-x: 32.5%;
        background-position-y: 20%;
    }
}

@media only screen and (min-width: 1024px) {
    #hero {
        background-image: none;
    }

    #hero-dt {
        background-image: url(../images/holyBaggrundsBillede.png);
    }
}