html,
body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif !important;
  max-width: 100vw;
  overflow-x: hidden;
}

.font-sans {
  font-family: "Poppins", sans-serif !important;
}

/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
