.stroke-green {
  -webkit-text-stroke: 1.25px #365e4c;
}

@media only screen and (min-width: 1279px) {
  .stroke-green {
    -webkit-text-stroke: 1.5px #365e4c;
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 1536px) {
  .stroke-green {
    -webkit-text-stroke: 2.25px #365e4c;
    font-size: 3em;
  }
}
