.stroke-green {
  text-shadow: -3px -3px 0 #365e4c, 3px -3px 0 #365e4c, -3px 3px 0 #365e4c,
    3px 3px 0 #365e4c;
  letter-spacing: 1px;
}

@media only screen and (min-width: 1279px) {
  .stroke-green {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 1536px) {
  .stroke-green {
    font-size: 3em;
  }
}
